<script src="/vendor/jquery3/jquery-3.4.1.min.js"></script>
<script src="/vendor/bootstrap4/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome5/js/solid.min.js"></script>
<script src="/vendor/fontawesome5/js/fontawesome.min.js"></script>
<script src="/vendor/chartsjs/Chart.min.js"></script>
<script src="/js/dashboard-charts.js"></script>
<script src="/js/script.js"></script>
<script src="/js/main.js"></script>
<script src="/js/notifications.js"></script>
</body>

</html>